@import "../styles/canvas.scss";
@import "../styles/modal.scss";

.main-frame-error {
  border: 1px solid #fff;
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: "vcr_osd_monoregular";
  background-image: url(https://zajdzik.com/edit/hackathon2020/ergonauts-assets/bg.gif);
  background-repeat: repeat;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "vcr_osd_monoregular";
  src: url("./../fonts/vcr_osd_mono_1.001-webfont.woff2") format("woff2"),
    url("./../fonts/vcr_osd_mono_1.001-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.sendmessage {
  text-align: center;

  h3 {
    margin-top: 50px;

    @media (min-width: 200px) and (max-width: 1024px) {
      margin-top: 10px;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-image: url(https://zajdzik.com/edit/hackathon2020/ergonauts-assets/200-header.gif);
  background-position: center;

  @media (min-width: 200px) and (max-width: 1024px) {
    background-size: 90%;
    height: 100px;
    padding: 16px;
  }
}

.interstitial-wrapper {
  position: relative;
}

#jsx {
  @media (min-width: 200px) and (max-width: 1024px) {
    margin: 0 auto 0 auto;
    padding: 0 20px;
  }

  .ranking {
    max-width: 600px;
    margin: 255px auto 0 auto;

    @media (min-width: 200px) and (max-width: 1024px) {
      margin: 250px auto 0 auto;
    }

    h2 {
      text-align: center;
    }

    ul {
      padding: 0;

      li {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        list-style: none;
        text-align: left;

        span {
          display: inline-block;
        }
      }
    }
  }
}
